.board {
  display: flex;
  max-width: 950px;
  background-color: blue;
}

.column {
  /* flex: 1; */
  margin: 10px;
  padding: 10px;
  background-color:  rgb(173, 173, 173);;
  border-radius: 5px;
  min-height: 200px;
  max-width: 300px;
}

.card {
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  /* cursor: grab; */
  width: 250px;
}

.addNew {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: end;
  margin: 10px 0;
  padding: 10px;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid;
  border-radius: 5px;
  min-height: 70px;
}

.buttonAdd {
  padding: 10px;
  background-color: rgb(194, 194, 194);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
}

.add {
  padding: 5px;
  background-color: rgb(194, 194, 194);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.text{
  min-height: 50px;
  width: 100%;
  margin-bottom: 5px;
}

.card.dragged {
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background-color: grey;
  cursor: grabbing;
}

.highlight {
  border: 1px solid black;
  border-radius: 4px;
  background-color: yellow;
  width: 100%;
}

.hidden {
  display: none;
}

.icon::after{
  content: '\00d7';
  top: 0;
  right: 5px;
  font-size: 16px;
  
}

.iconCard {
  /* display: block; */
  text-align: right;
}